#navbar{
    display: none;
}

nav #navbar ul{
    border: 0;
}
nav #navbar ul li {
    display: inline;
}

nav #navigationDrawer ul{
    list-style-type: none;
    padding: 0 16px;
}
nav #navigationDrawer ul li {
    padding: 5px 0px;
}

#navigationDrawer {
    min-width: 250px;
    min-height: 100%;
    position: fixed;
    transform: translate(-250px, 0);
    transition: transform 0.3s ease-in-out;
    background-color:#111;
    display: block;
}

#navigationDrawer a{
    display: inline-block; 
    min-width: 100%; 
    min-height: 45px;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    text-decoration: none;
    font-size: 14px;
    color: white;
}

#navigationDrawer.open {
    transform: translate(0, 0);
}



